

<MudThemeProvider />
<MudDialogProvider />
<MudSnackbarProvider />
<MudDialogProvider />
<MudPopoverProvider />


<Router AppAssembly="@typeof(App).Assembly">

    <Found Context="routeData">
        <RouteView RouteData="@routeData" />
    </Found>

    <NotFound>
        <LayoutView Layout="@typeof(ApplicationLayout)">
            <h3>Page not found</h3>
        </LayoutView>
    </NotFound>

</Router>

